<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upvote</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="text-center">Upvote this image</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img src="Capture.png">
                <div class="voteBtns justify-content-center">
                    <button id="upvote" class="btn flex-item">⬆</button>
                    <p><span id="counter"></span></p>
                    <button id="downvote" class="btn flex-item">⬇</button>
                    <h5 id="myPopup">Upvote or walter will sniff you</h5>
                </div>
            </div>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>